<div class="container" style=" background: #bcc0c4;height: 100dvh;">
    <div class="row d-flex justify-content-center bg-white" >
        <div class="col-sm-12 col-md-12- col-lg-10">
         <img src="assets/images/1.png" alt="" style="width: 160px;">
         <img src="assets/images/1.png" alt="" style="width: 160px;">
         <img src="assets/images/1.png" alt="" style="width: 160px;">
         <img src="assets/images/1.png" alt="" style="width: 160px;">
         <img src="assets/images/1.png" alt="" style="width: 160px;">
        </div>
    </div>
    
 </div>