
<div class="cards" >
    <div class="rows" >
        <div class="  row row-cols-1 row-cols-md-3 g-5 p-10 m-20">
           <div class="card-group w-45 h-30 ">
                <div class="card" >
                  <img src="../../assets/images/cardimg1.webp" class="card-img-top  w-200 h-100" alt="...">
                 
                   
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/card2.webp" class="card-img-top w-200" alt="...">

                </div>
                <div class="card">
                  <img src="../../assets/images/card3.webp" class="card-img-top w-200" alt="...">
                 
                </div>
              </div>


       </div>
    </div>

